<header class="custom-header">
    <div class="site-branding">
        <h1 class="site-title">{{ site_name }}</h1>
    </div>
    <div class="header-region">
        {{ page.header }}
    </div>
</header>