<div class="page-wrapper">
  {% include '@savafrontend/layout/header.html.twig' %}
  <main role="main" style="background:green">
    {{ page.content }}
  </main>
  {% include '@savafrontend/layout/footer.html.twig' %}
</div>